.wrapper {
  display: flex;
  flex-direction: row;
}

.main {
  border-right-style: solid;
  border-left-style: solid;
  border-right-width: 1px;
  border-left-width: 1px;
  border-color: rgb(47, 51, 54);
}
